@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,100&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

body {
	align-items: center;
	justify-content: center;
	display: flex;
	width: 100%;
	height: 100vh;
	/* color: white; */
	/* background-color: black; */
}
#root {
	/* height: 500px; */
	/* width: 500px; */
	border-color: black;
	border-style: solid;
	border-width: 0.5;
	padding: 25px;
}

.container-basic {
	display: flex;
	align-items: center;
	gap: 20px;
	height: 37px;
}

.container-botton {
	padding-top: 20px;
	display: flex;
	justify-content: center;
	gap: 10px;
}

button {
	padding: 5px;
}
